
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.block__error{
 color: red;   
}
.hide{
    display: none;
}
.main__trainings_grid{
    display: grid;
    grid-template-columns: 360px 360px 360px;
    row-gap: 37px;
    column-gap: 44px;
    align-items: center;
    justify-items: center;
}
.trainings__grid_element{
    width: 360px;
    height: 480px;
    top: 302px;
    left: 140px;
    border-radius: 30px;
    background-color: #fff;
     
}


.img {
    width: 100%;
    height: 100%;
}

.paginateButtons{
margin-top: 35px;
cursor: pointer;
width: 80%;
height: 40px;
list-style: none;
display: flex;
justify-content: center;
color:  rgba(199, 233, 87, 1);

}
.paginateButtons a{
    padding: 10px;
    margin: 8px;
    border:  rgba(199, 233, 87, 1) solid 2px;
    border-radius: 15px;  
}
.paginateActive{
   color: rgb(238, 239, 233); 
}
.block__center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
