
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
background-color: #271A58 ;
    /* font-family: 'Montserrat', sans-serif; */
}


.main__header{
    
    display: flex;
    justify-content: flex-start;
}
.main__header_right{
    margin-left: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__description{
    margin-top: 35px;
    margin-bottom: 17px;
    width: 363px;
    height: 23px;
    top: 100px;
    left: 140px;
    opacity: 0.5px;
    font-family: 'StratosSkyeng';
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.05px;
    text-align: left;
    color: #d1cece;
  
}
.main__title{
    margin-bottom: 52px;
    width: 830px;
    height: 110px;
    top: 140px;
    left: 140px;
    font-family: 'StratosSkyeng';
    font-size: 60px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: -1px;
    text-align: left;
    color: rgba(244, 244, 255, 1);


}
.main__header_button{

    background: #140D40;
    border-radius: 46px;
/* Text */
    width: 77px;
    height: 36px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
/* identical to box height, or 150% */
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
/* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 5px, 16px, 7px, 16px;

    &:hover{
        background-color:   #2D1F79;
    }
    &:active{
        background-color: #3B29A1;
    }
}
.main__trainings_grid{

    display: grid;
    grid-template-columns: 360px 360px 360px;
    
    row-gap: 63px;
    column-gap: 97px;
}
.trainings__grid_element{
    padding: 30px;
    width: 360px;
    height: 480px;
    top: 302px;
    left: 140px;
    border-radius: 30px;
    background-color: #fff;
}
.grid__element_yoga{
    padding: 30px;
    width: 360px;
    height: 480px;
    top: 302px;
    left: 140px;
    border-radius: 30px;
    background-image: url(../../img/prof\ card\ 2\ yoga.png);
    background-size:contain; 
    background-repeat: no-repeat; 
    background-color: #fff;
}

.grid__element_step{
    padding: 30px;
    width: 360px;
    height: 480px;
    top: 302px;
    left: 140px;
    border-radius: 30px;
    background-image: url(../../img/prof\ card\ 6\ step.png);
    background-size: contain;
    background-repeat: no-repeat; 
    background-color: #fff;
}
.grid__element_stretch{
    padding: 30px;
    width: 360px;
    height: 480px;
    top: 302px;
    left: 140px;
    border-radius: 30px;
    background-image: url(../../img/prof\ card\ 3\ str.png);
    background-size: contain; 
    background-repeat: no-repeat; 
    background-color: #fff;
}
.grid__element_body{
    padding: 30px;
    width: 360px;
    height: 480px;
    top: 302px;
    left: 140px;
    border-radius: 30px;
    background-image: url(../../img/prof\ card\ 28\ body.png);
    background-size: contain; 
    background-repeat: no-repeat; 
}
.grid__element_dance{
    padding: 30px;
    width: 360px;
    height: 480px;
    top: 302px;
    left: 140px;
    border-radius: 30px;
    background-image: url(../../img/prof\ card\ 20\ dance.png);
    background-size: contain; 
    background-repeat: no-repeat; 
}


.grid__element_name{
    text-align: left;
    font-style: 'Abhaya Libre ExtraBold';
    font-weight: 800;
    font-size: 36px;
}



.main__footer{
    margin-top: 34px;
    display: flex;
    justify-content: center;
}

.main__footer_button{
    width: 147px;
    height: 48px;
    background-color:   rgba(199, 233, 87, 1);
    border-radius: 46px;
    font-family: 'StratosSkyeng';
    font-weight: 400;
    font-size: 24px;
    &:hover{
        background-color:   #DAF289;
    }
    &:active{
        background-color: #EBFFAB;
    }


}

