/* Анимации */
@keyframes blink {
    0% { color: #da2549; }
    50% { color: #6e0ea290; } /* Цвет фона при "погашенном" состоянии */
    100% { color: #da2549; }
}

/* Основные стили */
.wrapper {
    padding-top: 30px;
    color: #161616;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    padding-bottom: 52px;
}
.header_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header_links_main{
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 40px;
    background-color: #580ea2c4;
    color: #fafafa;
    font-size: 20px;
    transition: all .3s;
}
.header_links_profile {
    cursor: pointer;
    padding: 15px;
    border: 2px solid #580ea2c4;
    border-radius: 40px;
    color: #580ea2c4;
    font-size: 20px;
    transition: all .3s;
}
.header_profile {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header_photo {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
.header_bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 40px;
}
.header_title {
    color: black;
    font-weight: 400;
    font-size: 48px;
    padding-bottom: 20px;
}
.header_info {
    width: 500px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: black;
    font-weight: 400;
    font-size: 24px;
}
.header_info_text {
    width: 90px;
}
.header_info_login {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #c7e957b3;
}
.header_button {
    cursor: pointer;
    width: 275px;
    height: 52px;
    background-color: #580ea2c4;
    border: 1px solid transparent;
    border-radius: 42px;
    font-weight: 400;
    font-size: 20px;
    color: #fafafa;
    transition: all .3s;
}
.main {
    padding-top: 35px;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.main_direct {
    position: relative;
    width: 400px;
}
.main_button {
    position: absolute;
    bottom: 50px; /* Расстояние до нижнего края */
    left: 33%; /* Горизонтальное выравнивание по центру */
    transform: translateX(-50%); /* Для точного центрирования */
    background-color: #C7E957;
    border: 1px solid #C7E957;
    border-radius: 80px;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s;
}

/* Модальное окно */
.modalOverlay {
    position: fixed; /* изменено с position: absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(72, 3, 162, 0.171); /* Полупрозрачный фон */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Назначение высокого z-index */
}
.modal {
    background-color: #fff; /* Цвет фона модального окна */
    padding: 20px;
    border-radius: 15px;
}
.modalContent {
    width: 350px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.main_button_one {
    cursor: pointer;
    width: 280px;
    height: 55px;
    border: 1px solid #580EA2;
    border-radius: 80px;
    color: #fafafa;
    background-color: #580EA2;
    font-size: 18px;
    font-weight: 400px;
    transition: all .3s;
}
.main_info {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 18px;
}
.main_text {
    padding: 5px;
    font-size: 18px;
}
.main_form {
    width: 280px;
    height: 30px;
    padding: 5px;
    color: #777676;
    padding-bottom: 5px;
    border: 1.5px solid #D0CECE;
    font-size: 18px;
    border: transparent;
    border-bottom: 1px solid #D0CECE;
}
.main_form::placeholder {
    color: #D0CECE;
}
.main_criterion {
    animation: blink 2s infinite;
    font-size: 14px;
}
.main_err_plase {
    margin-top: 10px;
    width: 380px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_err{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #f9d1d1;
    border-radius: 20px;
    margin-top: 10px;
    width: 390px;
    height: 80px;
    background-color: #f9e4e4;
}
.main_err_massage {
    text-align: center;
    color: #c20101;
    font-size: 16px;
}
.disabled {
    background-color: #A9A9A9; /* Серый цвет */
    cursor: not-allowed;
    border: 1px solid #A9A9A9; /* Изменение цвета рамки */
}

/* Наведение */
.header_links_main:hover {
    background-color: #3F007D;
    border: 1px solid #3F007D;
}
.header_links_main:active {
    transform: scale(0.95);
    background-color: #271A58;
    border: 1px solid #271A58;
}
.header_links_profile:hover {
    background-color: #271A58;
    border: 2px solid transparent;
    color: #fafafa;
}
.header_links_profile:active {
    transform: scale(0.95);
    background-color: #271A58;
    border: 2px solid transparent;
    color: #fafafa;
}
.header_button:hover {
    background-color: #3F007D;
    border: 1px solid #3F007D;
}
.header_button:active {
    transform: scale(0.95);
    background-color: #271A58;
    border: 1px solid #271A58;
}
.main_button:hover {
    background-color: #DAF289;
    border: 1px solid #DAF289;
}
.main_button:active {
    background-color: #EBFFAB;
    border: 1px solid #EBFFAB;
}
.main_button_one:hover {
    background-color: #3F007D;
    border: 1px solid #3F007D;
}
.main_button_one:active {
    background-color: #271A58;
    border: 1px solid #271A58;
}
.disabled:hover {
    background-color: #A9A9A9; /* Серый цвет */
    cursor: not-allowed;
    border: 1px solid #A9A9A9; /* Изменение цвета рамки */
}