.wrapper {
    width: 1160px;
    padding-top: 30px;
    color: #fafafa;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    padding-bottom: 75px;
}
.header_bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 75px;
}
.header_title {
    font-weight: 400;
    font-size: 48px;
    padding-bottom: 20px;
}
.header_info {
    font-weight: 400;
    font-size: 24px;
}
.header_button {
    cursor: pointer;
    width: 275px;
    height: 52px;
    border: 1px solid #fafafa;
    border-radius: 42px;
    font-weight: 400px;
    font-size: 18px;
    color: #580EA2;
    transition: all .3s;
}
.main {
    display: flex;
    justify-content: center;
}
.main_nav{
    width: 1160px;
    position: relative;
}
.main_direct {
    width: 400px;
    height: 550px;
    margin-top: 30px;
}
.main_direct_two {
    width: 350px;
    height: 500px;
    padding-top: 55px;
    margin-left: 20px;
}
.main_button {
    position: absolute;
    bottom: 50px; /* Расстояние до нижнего края */
    left: 50%; /* Горизонтальное выравнивание по центру */
    transform: translateX(-50%); /* Для точного центрирования */
    background-color: #C7E957;
    border: 1px solid #C7E957;
    border-radius: 80px;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s;
}
.main_button_two {
    position: absolute;
    bottom: 50px; /* Расстояние до нижнего края */
    left: 50%; /* Горизонтальное выравнивание по центру */
    transform: translateX(-41%); /* Для точного центрирования */
    background-color: #C7E957;
    border: 1px solid #C7E957;
    border-radius: 80px;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s;
}

/* Наведение */
.header_button:hover {
    background-color: #DAF289;
    border: 1px solid #DAF289;
}
.header_button:active {
    background-color: #EBFFAB;
    border: 1px solid #EBFFAB;
}
.main_button_two:hover {
    background-color: #DAF289;
    border: 1px solid #DAF289;
}
.main_button_two:active {
    background-color: #EBFFAB;
    border: 1px solid #EBFFAB;
}
.main_button:hover {
    background-color: #DAF289;
    border: 1px solid #DAF289;
}
.main_button:active {
    background-color: #EBFFAB;
    border: 1px solid #EBFFAB;
}

