* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  
  box-sizing: border-box;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  /*padding-left: calc(50% - 600px);*/
  /*padding-right: calc(50% - 600px);*/
}

/*Убрать полосу прокрутки для всей страницы*/
/* body::-webkit-scrollbar {
  width: 0;
} */
body{
  overflow-x: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "StratosSkyeng";
  src:
    url("../public/assets/fonts/StratosSkyeng.woff2") format("woff2"),
    local("Arial");
  font-weight: 400;
  font-style: normal;
}